.App {
  text-align: center;
  background: orangered;
}

.center_div {
  position: absolute;
  width: 280px;
  height: 150px;
  z-index: 15;
  top: 40%;
  left: 40%;
  padding: 10px 0 0 20px;
  background: lightgrey;
  border: solid 1px;
}
